<div id="layoutAuthentication">
    <div id="layoutAuthentication_content">
        <main>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-5">
                        <div class="card shadow-lg border-0 rounded-lg mt-5">
                            <div class="card-header">
                                <h3 class="text-center font-weight-light my-4">Inicio de sesión</h3>
                            </div>
                            <div class="card-body">
                                <form [formGroup]="form" (ngSubmit)="login()">
                                    <div class="form-group">
                                        <label class="small mb-1" for="email">Correo electrónico</label>
                                        <input id="email" type="email" placeholder="Ingrese su correo electrónico" name="email" formControlName="email" class="form-control py-4" [ngClass]="
                                        f.email.dirty &&
                                        f.email.errors
                                          ? 'is-invalid'
                                          : '' || f.email.dirty &&
                                          !f.email.errors?.email && 
                                          !f.email.errors?.required  ? 'is-valid'
                                          : ''" (input)="f.email.setValue(f.email.value.toLowerCase())" />
                                        <div class="invalid-feedback">
                                            {{ f.email.errors?.required ? "Este campo es obligatorio" : "" }} {{ f.email.errors?.email ? "Formato no valido" : "" }}
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="small mb-1" for="password">Contraseña</label>
                                        <input id="password" type="password" placeholder="Ingrese su contraseña" name="password" formControlName="password" class="form-control py-4" [ngClass]="
                                        { 'is-invalid' : f.password.errors && f.password.dirty , 
                                        'is-valid' : f.password.dirty && 
                                        !f.password.errors?.required && 
                                        !f.password.errors?.minlength  }" />
                                        <div class="invalid-feedback">
                                            {{ f.password.errors?.required ? "Este campo es obligatorio" : "" }} {{ f.password.errors?.minlength ? "Minimo 6 letras" : "" }}
                                        </div>
                                    </div>
                                    <!-- <div class="form-group">
                                        <div class="custom-control custom-checkbox">
                                            <input class="custom-control-input" id="recordarme" type="checkbox" name="recordarme" formControlName="recordarme" (input)="recordarme($event)" />
                                            <label class="custom-control-label" for="recordarme">Recordarme</label>
                                        </div>
                                    </div> -->
                                    <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                                        <button type="submit" [disabled]="(form.invalid)" class="btn btn-primary">Iniciar sesión</button>
                                    </div>
                                </form>
                            </div>
                            <div class="card-footer text-center">
                                <div class="small"><a [routerLink]="[ '/register' ]">¿No tiene una cuenta? Registrese!</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <div id="layoutAuthentication_footer">
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; COXTI {{anio}}</div>
                    <div>
                        <a href="#">Política de privacidad</a> &middot;
                        <a href="#">Terminis y &amp; Condiciones</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>