<div class="container">
    <br>
    <div>
        <h1>Perfil de usuario</h1>
    </div>

    <div class="card shadow-lg border-0 rounded-lg mt-5">
        <div class="card-body">
            <form [formGroup]="form" (ngSubmit)="send()">
                <h5 style="text-align: center;">Datos personales</h5>
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-4">
                        <div class="form-group">
                            <label class="small mb-1" for="nombres">Nombres</label>
                            <input class="form-control py-4" id="nombres" type="text" placeholder="Ingrese nombres" name="nombres" formControlName="nombres" [ngClass]="
                            { 'is-invalid' : f.nombres.errors && f.nombres.dirty , 
                            'is-valid' : f.nombres.dirty && 
                            !f.nombres.errors?.required && 
                            !f.nombres.errors?.minlength  }" />
                            <div class="invalid-feedback">
                                {{ f.nombres.errors?.required ? "Este campo es obligatorio" : "" }} {{ f.nombres.errors?.minlength ? "Minimo 2 letras" : "" }}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-4">
                        <div class="form-group">
                            <label class="small mb-1" for="apellidos">Apellidos</label>
                            <input class="form-control py-4" id="apellidos" type="text" placeholder="Ingrese apellidos" name="apellidos" formControlName="apellidos" [ngClass]="
                            { 'is-invalid' : f.apellidos.errors && f.apellidos.dirty , 
                            'is-valid' : f.apellidos.dirty && 
                            !f.apellidos.errors?.required && 
                            !f.apellidos.errors?.minlength  }" />
                            <div class="invalid-feedback">
                                {{ f.apellidos.errors?.required ? "Este campo es obligatorio" : "" }} {{ f.apellidos.errors?.minlength ? "Minimo 2 letras" : "" }}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-4">
                        <div class="form-group">
                            <label class="small mb-1" for="email">Correo electrónico</label>
                            <input class="form-control py-4" id="email" type="email" aria-describedby="emailHelp" placeholder="Ingrese correo electrónico" name="email" formControlName="email" [ngClass]="
                            f.email.dirty &&
                            f.email.errors
                              ? 'is-invalid'
                              : '' || f.email.dirty &&
                              !f.email.errors?.email && 
                              !f.email.errors?.required  ? 'is-valid'
                              : ''" (input)="f.email.setValue(f.email.value.toLowerCase())" />
                            <div class="invalid-feedback">
                                {{ f.email.errors?.required ? "Este campo es obligatorio" : "" }} {{ f.email.errors?.email ? "Formato no valido" : "" }}
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-6 col-lg-4">
                        <div class="form-group">
                            <label class="small mb-1" for="identificacion">Número de documento</label>
                            <input class="form-control py-4" id="identificacion" type="number" placeholder="Ingrese su documento" name="identificacion" formControlName="identificacion" />
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-4">
                        <div class="form-group">
                            <label class="small mb-1" for="celular">Celular</label>
                            <input class="form-control py-4" id="celular" type="number" placeholder="Ingrese su celular" name="celular" formControlName="celular" />
                        </div>
                    </div>

                </div>


                <h5 style="text-align: center;">Datos residenciales</h5>
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-4">
                        <div class="form-group">
                            <label class="small mb-1" for="departamento">Departamento</label>
                            <input class="form-control py-4" id="departamento" type="text" placeholder="Ingrese el departamento" name="departamento" formControlName="departamento" />
                        </div>
                    </div>


                    <div class="col-sm-12 col-md-6 col-lg-4">
                        <div class="form-group">
                            <label class="small mb-1" for="ciudad">Ciudad</label>
                            <input class="form-control py-4" id="ciudad" type="text" placeholder="Ingrese la ciudad" name="ciudad" formControlName="ciudad" />
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-4">
                        <div class="form-group">
                            <label class="small mb-1" for="barrio">Barrio</label>
                            <input class="form-control py-4" id="barrio" type="text" placeholder="Ingrese el barrior" name="barrio" formControlName="barrio" />
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-4">
                        <div class="form-group">
                            <label class="small mb-1" for="direccion">Dirección</label>
                            <input class="form-control py-4" id="direccion" type="text" placeholder="Ingrese su dirección" name="direccion" formControlName="direccion" />
                        </div>
                    </div>
                </div>

                <h5 style="text-align: center;">Datos financieros</h5>
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-4">
                        <div class="form-group">
                            <label class="small mb-1" for="salario">Salario</label>
                            <input class="form-control py-4" id="salario" type="number" placeholder="Ingrese su salario" name="salario" formControlName="salario" />
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-6 col-lg-4">
                        <div class="form-group">
                            <label class="small mb-1" for="otros_ingresos">Otros ingresos</label>
                            <input class="form-control py-4" id="otros_ingresos" type="number" placeholder="Ingrese otros ingresos" name="otros_ingresos" formControlName="otros_ingresos" />
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-4">
                        <div class="form-group">
                            <label class="small mb-1" for="gastos_mensuales">Gastos mensuales</label>
                            <input class="form-control py-4" id="gastos_mensuales" type="number" placeholder="Ingrese sus gastos mensuales" name="gastos_mensuales" formControlName="gastos_mensuales" />
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-6 col-lg-4">
                        <div class="form-group">
                            <label class="small mb-1" for="gastos_financieros">Gastos financieros</label>
                            <input class="form-control py-4" id="gastos_financieros" type="number" placeholder="Ingrese sus gastos financieros" name="gastos_financieros" formControlName="gastos_financieros" />
                        </div>
                    </div>


                </div>

                <div class="form-group mt-4 mb-0"><button type="submit" [disabled]="(form.invalid)" class="btn btn-primary btn-block">Guardar</button></div>

            </form>



        </div>
    </div>

</div>