<div id="layoutAuthentication">
    <div id="layoutAuthentication_content">
        <main>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-7">
                        <div class="card shadow-lg border-0 rounded-lg mt-5">
                            <div class="card-header">
                                <h3 class="text-center font-weight-light my-4">Crear cuenta</h3>
                            </div>
                            <div class="card-body">
                                <form [formGroup]="form" (ngSubmit)="register()">
                                    <div class="form-row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="small mb-1" for="nombres">Nombres</label>
                                                <input class="form-control py-4" id="nombres" type="text" placeholder="Ingrese nombres" name="nombres" formControlName="nombres" [ngClass]="
                                                { 'is-invalid' : f.nombres.errors && f.nombres.dirty , 
                                                'is-valid' : f.nombres.dirty && 
                                                !f.nombres.errors?.required && 
                                                !f.nombres.errors?.minlength  }" />
                                                <div class="invalid-feedback">
                                                    {{ f.nombres.errors?.required ? "Este campo es obligatorio" : "" }} {{ f.nombres.errors?.minlength ? "Minimo 2 letras" : "" }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="small mb-1" for="apellidos">Apellidos</label>
                                                <input class="form-control py-4" id="apellidos" type="text" placeholder="Ingrese apellidos" name="apellidos" formControlName="apellidos" [ngClass]="
                                                { 'is-invalid' : f.apellidos.errors && f.apellidos.dirty , 
                                                'is-valid' : f.apellidos.dirty && 
                                                !f.apellidos.errors?.required && 
                                                !f.apellidos.errors?.minlength  }" />
                                                <div class="invalid-feedback">
                                                    {{ f.apellidos.errors?.required ? "Este campo es obligatorio" : "" }} {{ f.apellidos.errors?.minlength ? "Minimo 2 letras" : "" }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="small mb-1" for="email">Correo electrónico</label>
                                        <input class="form-control py-4" id="email" type="email" aria-describedby="emailHelp" placeholder="Ingrese correo electrónico" name="email" formControlName="email" [ngClass]="
                                        f.email.dirty &&
                                        f.email.errors
                                          ? 'is-invalid'
                                          : '' || f.email.dirty &&
                                          !f.email.errors?.email && 
                                          !f.email.errors?.required  ? 'is-valid'
                                          : ''" (input)="f.email.setValue(f.email.value.toLowerCase())" />
                                        <div class="invalid-feedback">
                                            {{ f.email.errors?.required ? "Este campo es obligatorio" : "" }} {{ f.email.errors?.email ? "Formato no valido" : "" }}
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="small mb-1" for="password">Contraseña</label>
                                                <input class="form-control py-4" id="password" type="password" placeholder="Ingrese contraseña" name="password" formControlName="password" [ngClass]="
                                                { 'is-invalid' : f.password.errors && f.password.dirty , 
                                                'is-valid' : f.password.dirty && 
                                                !f.password.errors?.required && 
                                                !f.password.errors?.minlength  }" />
                                                <div class="invalid-feedback">
                                                    {{ f.password.errors?.required ? "Este campo es obligatorio" : "" }} {{ f.password.errors?.minlength ? "Minimo 6 letras" : "" }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="small mb-1" for="passwordConfirm">Confirmar Contraseña</label>
                                                <input class="form-control py-4" id="passwordConfirm" type="password" placeholder="Confirme contraseña" name="passwordConfirm" formControlName="passwordConfirm" [ngClass]="
                                                f.passwordConfirm.dirty && f.passwordConfirm.errors ? 'is-invalid':'' ||
                                                f.password.value != f.passwordConfirm.value ? 'is-invalid':'' || f.passwordConfirm.dirty &&
                                                !f.passwordConfirm.errors?.required && !f.passwordConfirm.errors?.minlength &&  f.password.value === f.passwordConfirm.value  ? 'is-valid':''" />
                                                <div class="invalid-feedback">
                                                    {{ f.passwordConfirm.errors?.required ? "Este campo es obligatorio" : "" }} {{ f.passwordConfirm.errors?.minlength ? "Minimo 6 letras" : "" }} {{f.password.value != f.passwordConfirm.value ? "Las contraseñas no coinciden" : ""}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group mt-4 mb-0"><button type="submit" [disabled]="(form.invalid || f.password.value != f.passwordConfirm.value)" class="btn btn-primary btn-block">Crear</button></div>
                                </form>
                            </div>
                            <div class="card-footer text-center">
                                <div class="small"><a [routerLink]="[ '/login' ]">¿Ya tienes una cuenta? Inicia sesión</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <br>
    <div id="layoutAuthentication_footer">
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; COXTI {{anio}}</div>
                    <div>
                        <a href="#">Política de privacidad</a> &middot;
                        <a href="#">Terminos &amp; Condiciones</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>