<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-7">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-header">
                    <h3 class="text-center font-weight-light my-4">Opciones</h3>
                </div>
                <div class="card-body">
                    <form [formGroup]="form" (ngSubmit)="updatePass()">
                        <div class="form-row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="small mb-1" for="password">Nueva contraseña</label>
                                    <input class="form-control py-4" id="password" type="password" placeholder="Ingrese contraseña" name="password" formControlName="password" [ngClass]="
                                    { 'is-invalid' : f.password.errors && f.password.dirty , 
                                    'is-valid' : f.password.dirty && 
                                    !f.password.errors?.required && 
                                    !f.password.errors?.minlength  }" />
                                    <div class="invalid-feedback">
                                        {{ f.password.errors?.required ? "Este campo es obligatorio" : "" }} {{ f.password.errors?.minlength ? "Minimo 6 letras" : "" }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="small mb-1" for="passwordConfirm">Confirmar Contraseña</label>
                                    <input class="form-control py-4" id="passwordConfirm" type="password" placeholder="Confirme contraseña" name="passwordConfirm" formControlName="passwordConfirm" [ngClass]="
                                    f.passwordConfirm.dirty && f.passwordConfirm.errors ? 'is-invalid':'' ||
                                    f.password.value != f.passwordConfirm.value ? 'is-invalid':'' || f.passwordConfirm.dirty &&
                                    !f.passwordConfirm.errors?.required && !f.passwordConfirm.errors?.minlength &&  f.password.value === f.passwordConfirm.value  ? 'is-valid':''" />
                                    <div class="invalid-feedback">
                                        {{ f.passwordConfirm.errors?.required ? "Este campo es obligatorio" : "" }} {{ f.passwordConfirm.errors?.minlength ? "Minimo 6 letras" : "" }} {{f.password.value != f.passwordConfirm.value ? "Las contraseñas no coinciden" : ""}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group mt-4 mb-0"><button type="submit" [disabled]="(form.invalid || f.password.value != f.passwordConfirm.value)" class="btn btn-primary btn-block">Actualizar</button></div>
                    </form>
                </div>
                <div class="card-footer text-center">
                    <div class="form-group mt-4 mb-0"><button type="submit" (click)="delete()" class="btn btn-danger btn-block">Eliminar cuenta</button></div>
                </div>
            </div>
        </div>
    </div>


</div>