<div class="container">
    <br>
    <div>
        <h1>Rangos de salario</h1>
        <h6>Mi salario: {{misalario}}</h6>
    </div>


    <div class="card shadow-lg border-0 rounded-lg mt-5">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <button type="button" class="btn btn-primary" (click)="misrangos()">Consultar mis rangos</button>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-8">
                    <p>Mis rangos: {{rangos | json}}</p>
                </div>
            </div>

        </div>
    </div>

    <div class="card shadow-lg border-0 rounded-lg mt-5">
        <div class="card-body">
            <div class="row">

                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="form-group">
                        <label class="small mb-1" for="salario">Salario</label>
                        <input class="form-control py-4" id="salario" type="number" placeholder="Ingrese un valor" [(ngModel)]="salario" />
                    </div>
                    <button type="button" class="btn btn-primary" (click)="consultar()">Consultar</button>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-8">
                    <p>Rangos: {{rangosconsulta | json}}</p>
                </div>
            </div>
        </div>

    </div>
</div>