<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">

                <div class="sb-sidenav-menu-heading">Inicio</div>

                <a class="nav-link collapsed" routerLink="/pages/perfil" [routerLinkActive]="['active']">
                    <div class="sb-nav-link-icon"><i class="fa fa-user"></i></div>
                    Perfil
                </a>

                <a class="nav-link collapsed" routerLink="/pages/settings" [routerLinkActive]="['active']">
                    <div class=" sb-nav-link-icon "><i class="fa fa-cog "></i></div>
                    Configuración
                </a>

                <a class="nav-link collapsed" routerLink="/pages/rangos" [routerLinkActive]="['active']">
                    <div class="sb-nav-link-icon "><i class="fa fa-file-text "></i></div>
                    Consultar rangos
                </a>


            </div>
        </div>
        <div class="sb-sidenav-footer ">
            <div class="small ">Módulo usuarios</div>
            COXTI
        </div>
    </nav>
</div>