<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <p class="navbar-brand">COXTI</p>
    <button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#"><i class="fa fa-bars"></i></button>
    <div class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
        <a class="navbar-brand">{{user.nombres| uppercase}}</a>
    </div>
    <!-- Navbar-->
    <div class="navbar-nav ml-auto ml-md-0">
        <button type="button" class="btn btn-danger" (click)="logout()">Cerrar sesión</button>
    </div>
</nav>